@import "reset.css";
@font-face {
  font-family: "YiSunShinDotumM";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/YiSunShinDotumM.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "RixMomsBlanketR";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/RixMomsBlanketR.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "KyoboHandwriting2021sjy";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KyoboHandwriting2021sjy.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Dovemayo_gothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: flex-start;
  background-color: gainsboro;
  padding: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

canvas {
  width: 800px;
  height: 800px;
  background-color: white;
  border-radius: 10px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-btns {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.color-option {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  border: 5px solid white;
  transition: transfor ease-in-out 0.3s;
  box-shadow: 4px 4px 10px rgb(185, 177, 177);
}

.color-option:hover {
  transform: scale(1.2);
}

input#color {
  background-color: white;
  box-shadow: 4px 4px 10px rgb(185, 177, 177);
}

.btns {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

button,
label,
select {
  all: unset;
  padding: 10px 0px;
  text-align: center;
  background-color: royalblue;
  color: white;
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
  transition: opacity linear 0.1s;
  box-shadow: 4px 4px 10px rgb(185, 177, 177);
}

button:hover,
label:hover,
select:hover {
  opacity: 0.85;
}

input#text {
  all: unset;
  padding: 10px 0px;
  border-radius: 10px;
  font-weight: 500;
  text-align: center;
  background-color: white;
}

input#file {
  display: none;
}

select > option:nth-child(1) {
  font-family: sans-serif;
}

select > option:nth-child(2) {
  font-family: "Dovemayo_gothic";
}
select > option:nth-child(3) {
  font-family: "KyoboHandwriting2021sjy";
}
select > option:nth-child(4) {
  font-family: "RixMomsBlanketR";
}
select > option:nth-child(5) {
  font-family: "YiSunShinDotumM";
}
